---
import background from "../assets/background.svg";
---

<div>
  <img
    src={background.src}
    alt="background image"
    fetchpriority="high"
    class="fixed top-0 left-0 w-full h-full -z-10 blur-[100px]"
  />
  <main class="h-[600px] w-full flex justify-center">
    <section
      class="flex flex-col justify-center items-start p-4 w-full max-w-[960px]"
    >
      <h1 class="text-4xl font-bold">PetStore SDK</h1>
      <p class="text-gray-400 text-lg leading-6 tracking-tight">
        An example of a custom docs website using Speakeasy's <code
          class="text-base p-1 bg-gray-800">Code Samples</code
        > API.
      </p>
    </section>
  </main>
</div>
